@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: bumblebee --default, cupcake, dark, forest, night;
  root: ":root";
  logs: false;
}
body {
  font-family: 'Kode Mono', monospace;
}

  @keyframes spin-slow {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  .animate-spin-slow {
    animation: spin-slow 15s linear infinite;
  }
